<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wrapper</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&subset=cyrillic');
        @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic,cyrillic-ext');
        @import url('https://fonts.googleapis.com/css?family=Scada:700&subset=cyrillic,cyrillic-ext');
        @import url('https://fonts.googleapis.com/css?family=Comfortaa:700&subset=cyrillic,cyrillic-ext');
    </style>
</head>
<body>
<header>
    <div class="header">
        {%load static%}
        <a href="/" class="logo"><img src="{% static "image/lolac.png"%}"></a>

    </div>

</header>
<main>
    {%load static%}
<div class="block">
    <h2>WELCOME!</h2>
    <h3>TRY IT YOURSELF!</h3>

</div>
</main>
<footer class="footer">

</footer>


</body>
</html>